
button {
  /* align-self: center; */
  text-align: center;
  /* justify-content: center; */
  
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #282bda;
    cursor: pointer;
    transition: border-color 0.25s;
  }

  button:hover {
    border-color: #e1e2f8;
  }
  